body {
  background-color: #BEBEBE;
  padding: 20px;
  margin-top: 50px;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 10px;
  border: 2px solid white;
}
      
::-webkit-scrollbar-track {
  background: black;
}
      
::-webkit-scrollbar-thumb {
  background: white;
}

nav > ul {
  list-style-type: none;
  background-color: black;
  padding: 0;
  width: 105%;
  top: 0;
  margin: 0 0 -10px -33px;
  overflow: hidden;
  position: fixed;
}
      
nav > ul > li > a {
  float: left;
  color: white;
  position: relative;
  padding: 10px;
}

.current {
  background-color: #808080;
}

nav:link {
  background-color: black;
}

nav > ul > li > a:hover {
  background-color: #616161;
}

nav > ul > li > a:active {
  background-color: #808080;
}

body > header > h1 {
  font-family: sans-serif;
  font-size: 30px;
  color: black;
  text-align: center;
}

.img > img {
  width: 100%
}

.a {
  padding: 10px;
  background-color:#fdcddc;
  margin-top: 30px;
  overflow: hidden;
}

.a header {
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  color:#E36B89;
}

.a img {
  float: left;
  height: 250px;
  width: 350px;
  margin: 0 10px 0 0;
}

.a h2 {
  font-family: sans-serif;
  font-size: 30px;
  color:#f96995;
  margin-bottom: -15px;
  margin-top: -5px;
}
      
.a p {
  font-family: arial;
  color:#f73772;
  font-size: 14px;
}

.b {
  padding: 10px;
  background-color:#feeaa9;
  margin-top: 30px;
  overflow: hidden;
}

.b header {
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  color: black;
}

.b img {
  float: right;
  height: 225px;
  width: 150px;
  margin: 30px 30px 0 10px;
}

.b h2{
  font-family: sans-serif;
  font-size: 30px;
  color: #fdc407;
  margin-bottom: -15px;
  margin-top: -5px;
  text-align: right
}

.b p {
  font-family: arial;
  color: black;
  font-size: 16px;
  text-align: right;
}

.c {
  padding: 10px;
  background-color: #c3d4a5;
  margin-top: 30px;
  overflow: hidden;
}

.c header {
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  color: #49592a;
}

.c img {
  float: left;
  height: 250px;
  width: 250px;
  margin: 0 10px 0 0;
}

.c h2 {
  font-family: sans-serif;
  font-size: 30px;
  color:#576b33;
  margin-bottom: -15px;
  margin-top: -5px;
}
      
.c p {
  font-family: arial;
  color: #49592a;
  font-size: 14px;
}

.d {
  padding: 10px;
  background-color: #BEA9DF;
  margin-top: 30px;
  overflow: hidden;
}

.d header {
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  color: purple;
}

.d img {
  float: right;
  height: 200px;
  width: 200px;
  margin: 30px 30px 0 10px;
}

.d h2{
  font-family: sans-serif;
  font-size: 30px;
  color: #4B0076;
  margin-bottom: -15px;
  margin-top: -5px;
  text-align: right;
}

.d p {
  font-family: arial;
  color: #4B0076;
  font-size: 14px;
  text-align: right;
}

div#twt {
  width: 60px;
  height: 60px;
}

div#yt {
  width: 60px;
  height: 60px;
}

div#s {
  width: 60px;
  height: 60px;
}

div#sc {
  width: 60px;
  height: 60px;
}

aside > div#twt > a {
  width: 60px;
  height: 60px;
  background: url("../SectionGonzales1stQtrimages/twt.png") no-repeat;
  display: inline-block;
  bottom: 20px;
  right: 20px;
  position: fixed;
}

aside > div#twt > a:hover {
  width: 60px;
  height: 60px;
  background: url("../SectionGonzales1stQtrimages/twtbnw.png") no-repeat;
  bottom: 20px;
  right: 20px;
  position: fixed;
  transform: scale(1.5, 1.5);
} 

aside > div#yt > a {
  width: 60px;
  height: 60px;
  background: url("../SectionGonzales1stQtrimages/yt.png") no-repeat;
  display: inline-block;
  bottom: 20px;
  right: 90px;
  position: fixed;
}

aside > div#yt > a:hover {
  width: 60px;
  height: 60px;
  background: url("../SectionGonzales1stQtrimages/ytbnw.png") no-repeat;
  bottom: 20px;
  right: 90px;
  position: fixed;
  transform: scale(1.5, 1.5);
} 

aside > div#s > a {
  width: 60px;
  height: 60px;
  background: url("../SectionGonzales1stQtrimages/spotify.png") no-repeat;
  display: inline-block;
  bottom: 20px;
  right: 160px;
  position: fixed;
}

aside > div#s > a:hover {
  width: 60px;
  height: 60px;
  background: url("../SectionGonzales1stQtrimages/spotifybnw.png") no-repeat;
  bottom: 20px;
  right: 160px;
  position: fixed;
  transform: scale(1.5, 1.5);
} 

aside > div#sc > a {
  width: 60px;
  height: 60px;
  background: url("../SectionGonzales1stQtrimages/sc.png") no-repeat;
  display: inline-block;
  bottom: 20px;
  right: 230px;
  position: fixed;
}

aside > div#sc > a:hover {
  width: 60px;
  height: 60px;
  background: url("../SectionGonzales1stQtrimages/scbnw.png") no-repeat;
  bottom: 20px;
  right: 230px;
  position: fixed;
  transform: scale(1.5, 1.5);
}

    
#foot {
  background-color: black;
  overflow: hidden;
  bottom: 0;
  margin: 0 -30px -30px -26px;
}
      
#foot > h3 {
  text-align: center;
  color: white;
  position: relative;
  font-weight: bold;
  font-size: 10px;
  padding: 5px;
}

#foot > p {
  text-align: center;
  color: white;
  position: relative;
  font-weight: bold;
  font-size: 10px;
  padding: 10px;
}