nav > ul {
  list-style-type: none;
  background-color: #ecb7bf;
  padding: 0;
  width: 120%;
  top: 0;
  margin: 0 0 -10px -33px;
  overflow: hidden;
  position: fixed;
}

nav > ul > li > a {
  float: left;
  color: black;
  position: relative; 
  padding: 10px;
}

.current {
  background-color: #905363;
  color: white;
}

nav:link {
  background-color: #ecb7bf;
}

nav > ul > li > a:hover {
  background-color: #B86E78;
}

nav > ul > li > a:active {
  background-color: #905363;
}

body {
  background-color: #ead3d7;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 80px;
}

::-webkit-scrollbar {
  width: 10px;
  border: 2px solid white;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #905363;
}

.head {
  padding: 30px;
  background: #905363;
}

.head > h1 {
  font-family: 'Times New Roman', serif;
  color: white;
  font-size: 33px;
  font-weight: 1000;
  text-align: center;
}

.head > h2 {
  font-family: sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 950;
  text-align: center;
  bottom-margin:-20px;
}

.a {
  padding: 10px;
  background-color:#1E3F66;
  margin-top: 30px;
  overflow: hidden;
}

.a header {
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  color: #BCD2E8;
}

.a > #a1 {
  font-family: arial;
  color: white;
  font-size: 14px;
  text-align: justify;  
}

.a > a > #sewol {
  height: 60%;
  width: 100%;
  text-align: center;
}

.a > #cap {
  text-align: center;
  font-weight: bold;
  color: white;
}

.a > #a2 {
  font-family: arial;
  color:white;
  font-size: 14px;
  text-align: justify;    
}

.b {
  background-color:#f3cad0;
  padding: 10px;
  overflow: hidden;
}
      
.b header {
  font-size: 50px;
  font-family: fantasy;
  text-align: center;
  color: #905363;
}

.b > #b1 {
  font-family: monospace;
  color: black;
  font-size: 14px;
  text-align: center; 
}

.b > #albums {
  background: url('../SectionGonzales1stQtrimages/albums.png') no-repeat 0 0;
  width: 296px;
  height: 300px;
  animation: varName 2s steps(3) infinite;
  margin-left: 470px;
}
  
@keyframes varName{
  from{background-position-x:0px;}
  to{background-position-x:-900px;}
}

.b > #her {
  padding: 10px;
  background-color:#b3dfe9;
  margin-top: 30px;
  overflow: hidden;
}

.b > #her > img {
  float: left;
  height: 200px;
  width: 300px;
  margin: 0 10px 0 0;
}

.b > #her > h3 {
  font-family: sans-serif;
  font-size: 30px;
  color:#072F5F;
  margin-bottom: -5px;
  margin-top: -5px;
}

.b > #her > h6 {
  font-family: sans-serif;
  font-size: 25px;
  color:rgb(15, 49, 92);
  margin-bottom: -15px;
  margin-top: -5px;
}
      
.b > #her > #bh1 {
  font-family: arial;
  color: black;
  font-size: 9px;
  text-align: center;
  font-style: italic;
}
     
.b > #her > #bh2 {
  font-family: arial;
  color:black;
  font-size: 14px;
}

.b > #tear {
  padding: 10px;
  background-color:black;
  margin-top: 30px;
  overflow: hidden;
}

.b > #tear > img {
  float: right;
  height: 200px;
  width: 300px;
  margin: 30px 30px 0 10px;
}

.b > #tear > h3 {
  font-family: sans-serif;
  font-size: 30px;
  color: #aaaaaa;
  margin-bottom: -5px;
  margin-top: -5px;
  text-align: right;
}

.b > #tear > h6 {
  font-family: sans-serif;
  font-size: 25px;
  color: #aaaaaa;
  margin-bottom: -5px;
  margin-top: -5px;
  text-align: right;
}

.b > #tear > #bt1 {
  font-family: arial;
  color: white;
  font-size: 9px;
  text-align: center;
  font-style: italic;
}

.b > #tear > #bt2 {
  font-family: arial;
  color: white;
  font-size: 14px;
  text-align: right;
}

.b > #answer {
  padding: 10px;
  background-color:#7a4988;
  margin-top: 30px;
  overflow: hidden;
}

.b > #answer > img {
  float: left;
  height: 200px;
  width: 300px;
  margin: 0 10px 0 0;
}

.b > #answer > h3 {
  font-family: sans-serif;
  font-size: 30px;
  color:#b39bd8;
  margin-bottom: -5px;
  margin-top: -5px;
}

.b > #answer > h6 {
  font-family: sans-serif;
  font-size: 25px;
  color:#9779bd;
  margin-bottom: -15px;
  margin-top: -5px;
}

.b > #answer > #ba1 {
  font-family: arial;
  color: white;
  font-size: 9px;
  text-align: center;
  font-style: italic;
}
      
.b > #answer > #ba2 {
  font-family: arial;
  color: white;
  font-size: 14px;
}

.b > #answer > #ba3 {
  font-family: arial;
  color: white;
  font-size: 9px;
  text-align: center;
}

aside.aside {
  background-color: #B86E78;
  width: 30%;
  padding-left: 10px;
  margin-left: 10px;
  margin-top: 10px;
  padding-right: 10px;
  float: right;
  color: white;
  font-style: italic;
  font-family: 'Times New Roman', serif;
  text-align: justify;
  font-size: 12px;  
}

.c > header {
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  color: #cd5e77;
}

.c > p {
  font-family: monospace;
  color: black;
  font-size: 14px;
  text-align: center;  
}

.d {
  padding: 10px;
  background-color:black;
  margin-top: 30px;
  overflow: hidden;
}

.d > header {
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  color: white;
}

.d > p {
  font-family: arial;
  color: white;
  font-size: 14px;
  text-align: justify;  
}


div#twt {
  width: 60px;
  height: 60px;
}

div#yt {
  width: 60px;
  height: 60px;
}

div#s {
  width: 60px;
  height: 60px;
}

div#sc {
  width: 60px;
  height: 60px;
}

aside > div#twt > a {
  width: 60px;
  height: 60px;
  background: url("../SectionGonzales1stQtrimages/twt.png") no-repeat;
  display: inline-block;
  bottom: 20px;
  right: 20px;
  position: fixed;
}

aside > div#twt > a:hover {
  width: 60px;
  height: 60px;
  background: url("../SectionGonzales1stQtrimages/twtbnw.png") no-repeat;
  bottom: 20px;
  right: 20px;
  position: fixed;
  transform: scale(1.5, 1.5);
} 

aside > div#yt > a {
  width: 60px;
  height: 60px;
  background: url("../SectionGonzales1stQtrimages/yt.png") no-repeat;
  display: inline-block;
  bottom: 20px;
  right: 90px;
  position: fixed;
}

aside > div#yt > a:hover {
  width: 60px;
  height: 60px;
  background: url("../SectionGonzales1stQtrimages/ytbnw.png") no-repeat;
  bottom: 20px;
  right: 90px;
  position: fixed;
  transform: scale(1.5, 1.5);
} 

aside > div#s > a {
  width: 60px;
  height: 60px;
  background: url("../SectionGonzales1stQtrimages/spotify.png") no-repeat;
  display: inline-block;
  bottom: 20px;
  right: 160px;
  position: fixed;
}

aside > div#s > a:hover {
  width: 60px;
  height: 60px;
  background: url("../SectionGonzales1stQtrimages/spotifybnw.png") no-repeat;
  bottom: 20px;
  right: 160px;
  position: fixed;
  transform: scale(1.5, 1.5);
} 

aside > div#sc > a {
  width: 60px;
  height: 60px;
  background: url("../SectionGonzales1stQtrimages/sc.png") no-repeat;
  display: inline-block;
  bottom: 20px;
  right: 230px;
  position: fixed;
}

aside > div#sc > a:hover {
  width: 60px;
  height: 60px;
  background: url("../SectionGonzales1stQtrimages/scbnw.png") no-repeat;
  bottom: 20px;
  right: 230px;
  position: fixed;
  transform: scale(1.5, 1.5);
} 
   
#foot {
  background-color: black;
  overflow: hidden;
  bottom: 0;
  margin: 0 -30px -30px -26px;
}
      
#foot > h3 {
  text-align: center;
  color: white;
  position: relative;
  font-weight: bold;
  font-size: 10px;
  padding: 5px;
}

#foot > p {
  text-align: center;
  color: white;
  position: relative;
  font-weight: bold;
  font-size: 10px;
  padding: 10px;
}